{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "stage-0",
        "react"
    ],
    "plugins": ["transform-regenerator","transform-class-properties"]
}

